<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('build/images/logo.png') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>{% block title %}Panterest{% endblock %}</title>

        {% block stylesheets %}
            {# charge tous les fichiers css dans build/entrypoints.js  #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>

        {{ include("layouts/partials/_flash_message.html.twig") }}

        {{ include("layouts/partials/_navBar.html.twig") }}

        <main role="main" class="container">
            {% block body %}{% endblock %}
        </main>

        {{ include("layouts/partials/_footer.html.twig") }}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
